*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

body{
  background-color: #fff;
}

.myBg{
  background-image: url(assets/doctorStrange1.jpg);
  /* background-color: black; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo{
  cursor: pointer;
}

.search-input::placeholder{
  color: white;
}

.searchButton:hover{
  cursor: pointer;
}

.movie{
  list-style: none;
}

.movie:hover{
  cursor: pointer;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.7);;
}