* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

body {
  background-color: #fff;
}

.myBg {
  background-image: url(assets/doctorStrange1.jpg);
  /* background-color: black; */
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
}

.logo {
  cursor: pointer;
}

.search{
  width: 50%;
}

.search-input::placeholder {
  color: white;
}

.searchButton:hover {
  cursor: pointer;
}

.movie {
  list-style: none;
  width: 25%;
}

.movie:hover {
  cursor: pointer;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px){
  .myBg{
    height: 100%;
  }

  .logo{
    order: 1;
  }

  .search{
    order: 3;
    width: 90%;
  }

  .movie{
    width: 80%;
  }

  .isLogged{
    order: 2;
  }

}